<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://127.0.0.1:3306/new_schema</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <mapping class="pac1.AccessoriesEntity"/>
        <mapping class="pac1.CityEntity"/>
        <mapping class="pac1.CustomerEntity"/>
        <mapping class="pac1.ManufacturerEntity"/>
        <mapping class="pac1.SaleofcomponentsEntity"/>
        <mapping class="pac1.StockEntity"/>
        <mapping class="pac1.UsersEntity"/>
        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>